html{
    background-color: pink;
}

body {
    width: 1100;
    margin: 10px auto;
    margin: 10px 5px 5px 5px;
    background-color: gray;
    padding: 0px 20px 20px 20px;
    border: 3px solid black;
}

h1{
    color: blue;
    text-align: center;
    font-family: cursive;
}

.BarraBotones:link{
    color: rgb(41, 16, 153);
}

.BarraBotones: :visited{
    color: green;

}

.BarraBotones:hover{
    color:red;
}

.BarraBotones:active{
    color:blueviolet;
}
.Contenido{
    color:gray;
    border-radius: 10px;
    margin 0px 40px 0px 30px;
    padding: 10px 40px 0px 30px;
    background-color: white;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

ul {
    margin-left: 20px;
    
}
.Imagen h3{
    color:yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.Imagen img{
    height: 400px;
    display: block;
    border-radius: 40px;
    border: 3px solid red;
    margin: 20 px auto 20px auto;
}

.Conclusion{
    color: green;
    font-size: 18px;
    text-align: center;
    border-radius: 15px;
    margin: 0px 40px 0px 40px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(192, 26, 26);
}