html{
    background-color: pink;
}

body {
    width: 1100;
    margin: 10px auto;
    margin: 10px 5px 5px 5px;
    background-color: gray;
    padding: 0px 20px 20px 20px;
    border: 3px solid black;
}

h1{
    color: blue;
    text-align: center;
    font-family: cursive;
}

.nav-bar{
    padding: 40px;
    background: #454141;
    margin: 25px auto ;
    width: auto;
    height: 20px;
    border-radius: 10px; 
    border: 2px solid #666;
    box-shadow: 7px 7px 15px #d40909;
}

.textShadow{
    font-size: 20px;
    padding:20px;
    text-align: center;
    text-shadow: 5px 5px 5px #2d45ae;
}

.barraBotones:link{
    color: rgb(55, 16, 230);
}

.barraBotones:visited{
    color: green;

}

.barraBotones:hover{
    color:red;
}

.barraBotones:active{
    color:blueviolet;
}
.Contenido{
    color:gray;
    border-radius: 10px;
    margin: 0px 40px 0px 30px;
    padding: 10px 40px 0px 30px;
    background-color: white;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

ul {
    margin-left: 20px;
    
}
.Imagen h3{
    color:yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.Imagen img{
    height: 400px;
    display: block;
    border-radius: 40px;
    border: 3px solid red;
    margin: 20 px auto 20px auto;
}

.Conclusion{
    color: green;
    font-size: 18px;
    text-align: left;
    border-radius: 15px;
    margin: 0px 40px 0px 40px;
    padding: 10px 200px 100px 200px;
    /*arriba derecha abajo izquierda*/
    /*background-color: rgb(192, 26, 26);*/
    background: linear-gradient(to right,red,yellow);

}

.gradienteRadial{
    color: rgb(10, 21, 226);
    font-size: 18px;
    text-align: right;
    border-radius: 15px;
    margin: 0px 40px 0px 40px;
    padding: 10px 200px 100px 200px;
    /*
    arriba derecha abajo izquierda
    background: radial-gradient(blue,cyan);
    background: radial-gradient(at 10px, 5px, blue,cyan);
    */
    background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);

}